* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --link-color--: #1a1a1a;
  --bg-color--: #b9deff;
  --text-white--: #ffffff;
  --btn-bg--: #3784f6;
  --border--: #1972f5;
  --text-blue--: #074eb8;
  --light-bg--: rgba(211, 211, 211, 0.167);
  --demo-bg--: #242f47;
  --star--: #fdb022;
  --shadow--: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Navigation Start */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  padding-inline: 7vw;
  padding-bottom: 8vh;
  background-image: url(./assets/nav-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 62%;
  background-color: var(--bg-color--);
  font-size: 0.9em;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

nav ul li a {
  color: var(--link-color--);
  text-decoration: none;
}

.nav-btn .nav-search {
  background-color: #ffffff9c;
  color: var(--link-color--);
  padding: 8px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav-btn .get-btn {
  background-color: var(--btn-bg--);
  color: var(--text-white--);
  padding: 8px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Navigation End */

/* Header Start */
header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color--);
  position: absolute;
}

.center {
  width: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translate(-50%, -0%);
  -webkit-transform: translate(-50%, -0%);
  -moz-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  -o-transform: translate(-50%, -0%);
}

.center .v4 {
  border: 2px solid var(--border--);
  color: var(--text-blue--);
  padding: 12px 14px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.center span {
  background: var(--border--);
  color: var(--text-white--);
  padding: 4px 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.center h1 {
  font-size: 2.5em;
  margin-block: 4vh 4vh;
  color: #35556d;
}

.center .desc1 {
  margin-block: 1vh 6vh;
}

.center button {
  background-color: var(--btn-bg--);
  color: var(--text-white--);
  padding: 14px 14px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: none;
  font-size: 1em;
}

.center button:hover {
  cursor: pointer;
  box-shadow: var(--shadow--);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.center .free {
  padding-top: 2vh;
  font-size: 0.9em;
  color: var(--link-color--);
}

/* Header End */

/* Sub Header Start  */

.second-header-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 64vh;
}

.second-header-left {
  position: absolute;
  left: 0;
}

.second-header-right {
  position: absolute;
  right: 0;
}

.second-header-center img {
  width: 80vw;
}

/* Sub Header End  */

/* Main Section Start  */
main {
  padding-top: 80vh;
}

main h2 {
  width: 60%;
  text-align: center;
  font-size: 2.8em;
  margin: auto;
  margin-bottom: 10vh;
}

span {
  color: var(--border--);
}

.main-section {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  flex-wrap: wrap;
  gap: 30px;
}

.main-section .box {
  display: flex;
  flex-direction: column;
  width: 38vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--shadow--);
}

.main-section .box-info {
  padding: 20px;
}

.main-section .box-info .box-title {
  color: var(--border--);
  font-size: 1.2em;
}

.main-section .box-info .box-heading {
  font-size: 1.4em;
  padding-block: 3vh 3vh;
}

.main-section .box-info .box-desc {
  color: var(--link-color--);
  font-size: 0.8em;
  text-align: justify;
}

.main-section button {
  width: 26%;
  padding: 8px 12px;
  background-color: var(--border--);
  color: var(--text-white--);
  border: none;
  border-radius: 8px;
  margin-block: 3vh 3vh;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.main-section button:hover {
  background-color: var(--border--);
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.main-section-img {
  text-align: center;
}

.main-2 img {
  width: 60%;
  text-align: center;
}

.main-4 img {
  width: 100%;
  text-align: center;
}

.main-5 img {
  width: 100%;
  text-align: center;
  padding-top: 10vh;
}

.main-section .flex-row {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.main-section .flex-row .box-info {
  width: 50vw;
}

.main-section .flex-row img {
  width: 100%;
}

.main-section .small-box-height {
  height: 50vh;
}

.main-section .small-box-height-2 {
  height: 40vh;
}

.main-section .small-box-1 {
  gap: 80px;
}

.last-box {
  margin-left: 42vw;
}

.main-icon {
  width: 5% !important;
  font-size: 2em;
  margin-right: 0.5vw;
}

.box-title {
  display: flex;
  align-items: center;
}

/* Main Section End  */

/* Customer Support Section Start */
.customer-support {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bg {
  background-color: var(--light-bg--);
  width: 90vw;
  margin: auto;
  padding: 20px 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.customer-support .cs-img img {
  width: 50%;
  margin-block: 10vh -6vh;
  position: relative;
}

.customer-support .cs-heading h3 {
  font-size: 2.4em;
  width: 55vw;
  padding-block: 4vh 6vh;
  margin: auto;
}

.cs-boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}

.cs-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 24vw;
  text-align: start;
  padding: 20px;
  box-shadow: var(--shadow--);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.cs-logo img {
  width: 100%;
  text-align: start;
}

.cs-box:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.cs-title p {
  font-size: 1.2em;
  color: #0b67f3;
  padding-block: 2vh 2vh;
}

.cs-desc p {
  color: #293247;
  font-size: 0.8em;
}

.cs-main-img img {
  width: 100%;
  padding-block: 4vh 4vh;
  object-fit: cover;
}

.cs-last-img {
  display: flex;
  width: 70vw;
}

.cs-last-img img {
  text-align: start;
  width: 30%;
  margin-top: -8vh;
  z-index: 8;
  position: relative;
  padding-bottom: 30vh;
  object-fit: cover;
}

/* Customer Support Section End */

/* Demo Start */
.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  background-color: var(--demo-bg--);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
}

.demo-left {
  width: 45vw;
  padding: 40px;
}

.demo-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
}

.demo-imgs img {
  width: 30%;
  object-fit: cover;
}

.demo-heading h4 {
  font-size: 2.4em;
  color: var(--text-white--);
  padding-block: 4vh 8vh;
}

.demo-btns button {
  background-color: var(--btn-bg--);
  color: var(--text-white--);
  padding: 18px 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: none;
  font-size: 1em;

}

.demo-btns .btn2 {
  background-color: var(--text-white--);
  color: var(--link-color--);
}

.demo-btns button:hover {
  background-color: var(--border--);
  color: var(--text-white--);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.demo-right {
  width: 45vw;
}

.demo-right-1 img {
  width: 100%;
  object-fit: cover;
}

.demo-right-2 img {
  width: 14%;
  position: absolute;
  top: 14vh;
  right: 1vw;
  object-fit: cover;
}

.demo-right-3 img {
  position: absolute;
  top: -14vh;
  right: 8vw;
  object-fit: cover;
}

/* Demo End */

hr {
  margin-top: 23vh;
  color: var(--link-color--);
}

/* Footer Start */
footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 80vw;
  margin: auto;
  padding-block: 10vh 10vh;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding-block: 1vh;
}

footer li:hover {
  background-color: rgb(233, 233, 233);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

footer a {
  color: var(--link-color--);
  text-decoration: none;
}

footer .f-head a {
  color: var(--link-color--);
  font-weight: bolder;

}

footer i {
  padding-right: 1vw;
  font-size: 1.4em;
}

footer select {
  background-color: var(--text-white--);
  padding: 8px 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 1.1em;
  margin-block: 2vh 4vh;
}

footer span {
  color: var(--star--);
  font-weight: bolder;
}

/* Footer End */

/* Chat Box Start */

.fixed {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 100;
  padding: 14px;
  background-color: var(--border--);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

/* Chat Box End */